.field > label > input{
    font-family: inherit;
    height: 44px;
    width: 100%;
    border: 1px solid var(--grey-25);
    box-sizing: border-box;
    border-radius: 4px;
    letter-spacing: -0.4px;
    color: var(--grey-75);
    font-size: 14px;
    line-height: 18px;
    padding: 0 13px;
    margin-top: 0;
    outline: none;
}
.field > label > input::placeholder{
    color: var(--grey-25);
}
.field > label > input:focus{
    border-color: var(--grey-50);
    color: var(--grey-75);
}
.field .withIndicator{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.field .withIndicator > svg{
    position: absolute;
    right: 14px;
    z-index: 1;
    transform: rotate(180deg);
}
.field > label > .masked{
    text-transform: uppercase;
    color: var(--grey-25);
}
.field > label > .maskedTouched{
    text-transform: uppercase;
    color: var(--grey-75);
}