.filledButton{
    width: 100px;
    height: 45px;
    box-sizing: border-box;
    outline: none;
    color: white;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    background: var(--gradient);
    border: 0;
    border-radius: 22px;
}
.filledButton:hover{
    opacity: 0.5;
    cursor: pointer;
}
.emptyButton{
    width: 100px;
    height: 45px;
    box-sizing: border-box;
    outline: none;
    color: var(--purple);
    border: 2px solid var(--purple);
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    background: white;
    border-radius: 22px;
}
.emptyButton:hover{
    cursor: pointer;
    border-color: var(--purple-50);
}
.linkButton{
    outline: none;
    color: var(--purple);
    border: 0;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    background: white;
}
.linkButton:hover{
    cursor: pointer;
    color: var(--grey-50);
}
.payment{
    width: 100%;
    height: 44px;
    border: 0;
    border-radius: 22px;
    background: var(--gradient);
    color: white;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
}
.payment > img{
    position: absolute;
    right: 12px;
}
.payment:hover{
    cursor: pointer;
}