.filterContainer{
    padding: 15px 140px;
    display: grid;
    grid-template-columns: 266px 1fr;
    border-bottom: 1px solid var(--grey-10);
}
.filterContainer .contentContainer{
    padding: 15px 0px 70px 60px;
}
.filterContainer .contentContainer h1{
    padding-bottom: 20px;
}
.filterContainer .contentContainer .rooms{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 40px;
}