.bulletListContainer{
    width: 100%;
}
.bulletListContainer > h2{
    padding-left: 20px;
}
.bulletListContainer .bullets{
    display: grid;
    grid-gap: 10px;
    padding-inline-start: 0px;
}
.bulletListContainer .bullet{
    font-size: 14px;
    line-height: 24px;
    color: var(--grey-75);
    list-style-type: none;
}
.bulletListContainer .bullet > svg{
    padding-right:15px;
    transform: translate(0, 1px);
}