.expandableChecksContainer{
    width: 100%;
}
.expandableChecksContainer h3{
    padding: 0;
    width: 100%;
}
.expandableChecksContainer label,
.CheckboxContainer label{
    display: grid;
    grid-template-columns: 30px 1fr;
}
.dropdownHandler{
    display: flex;
    align-items: center;
    box-sizing: border-box;
    height: 44px;
    width: 100%;
    margin-top: 10px;
}
.dropdownHandler > svg{
    transform: rotate(180deg);
    margin-right: 14px;
}
.dropdownHandler.expanded > svg{
    transform: rotate(0deg);
}
.dropdown,
.CheckboxContainer{
    display: grid;
    grid-template-rows: repeat(20px, auto);
    grid-gap: 10px;
}
.dropdown .checkbox,
.CheckboxContainer .checkbox{
    color: var(--grey-50);
    font-size: 14px;
    line-height: 18px;
    display: grid;
    flex-direction: row;
    align-items: flex-start;
}
