:root{
  --grey-100: rgba(31, 32, 65, 1);
  --grey-75: rgba(31, 32, 65, 0.75);
  --grey-50: rgba(31, 32, 65, 0.5);
  --grey-25: rgba(31, 32, 65, 0.25);
  --grey-10: rgba(31, 32, 65, 0.1);
  --grey-5: rgba(31, 32, 65, 0.05);
  --purple: #BC9CFF;
  --purple-50: #bb9cff80;
  --green: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
  --gradient: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  --gradient-25: linear-gradient(180deg, rgba(188,156,255,0.25) 0%, rgba(139,164,249,0.25) 100%);
  --gradient-50: linear-gradient(180deg, rgba(188,156,255,0.5) 0%, rgba(139,164,249,0.5) 100%);
  font-family: 'Montserrat';
} 
h1{
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: var(--grey-100);
  margin: 0;
}
h2{
  font-weight: bold;
  font-size: 19px;
  line-height: 23px;
  color: var(--grey-100);
}
h3{
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: var(--grey-100);
  margin: 0;
  padding: 21px 0 5px
}

body {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: var(--grey-75);
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* #### Calendar style #### */

::-webkit-calendar-picker-indicator{
  display: none;
}
/* Containers */
.react-datepicker-popper{
  width: 100%;
}
.react-datepicker{
  width: 100%;
  border: none;
  box-sizing: border-box;
  font-family: inherit;
  padding: 20px 0px 10px;
  display: inline-block;
}
.react-datepicker__month-container{
  width: 100%;
}
/* useless tryangle */
.react-datepicker__triangle{
  display: none;
}
/* header */
.react-datepicker__header:not(.react-datepicker__header--has-time-select){
  padding: 0;
  background-color: transparent;
  border-bottom: 0px;
}
.react-datepicker__current-month, .react-datepicker-time__header, .react-datepicker-year-header{
  font-size: 19px;
  line-height: 23px;
  font-weight: 700;
  color: var(--grey-100);
  text-transform: capitalize;
  padding: 0 0 30px 0;
}
/* header arrows */
.react-datepicker__navigation{
  top: 14px;
}
.react-datepicker__year-read-view--down-arrow,
.react-datepicker__month-read-view--down-arrow,
.react-datepicker__month-year-read-view--down-arrow,
.react-datepicker__navigation-icon::before{
  content: none;
}
.react-datepicker__navigation--next{
  background-image: url('./assets/arrowRDatePicker.svg');
  background-position: center;
  background-repeat: no-repeat;
  right: 17px;
}
.react-datepicker__navigation--previous{
  background-image: url('./assets/arrowLDatePicker.svg');
  background-position: center;
  background-repeat: no-repeat;
  left: 17px;
}
/* week's days */
.react-datepicker__day-names, .react-datepicker__week{
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.react-datepicker__day-name, .react-datepicker__day, .react-datepicker__time-name{
  text-transform: capitalize;
  font-size: 12px;
  width: 100%;
  line-height: 10px;
  padding: calc((100% - 40px) / 14) 0;
  margin: 0px;
}
.react-datepicker__day-name{
  color: var(--purple);
  font-weight: 700;
}
.react-datepicker__day{
  color: var(--grey-50);
  font-weight: 400;
  outline: none;
}
.react-datepicker__day--outside-month{
  color: var(--grey-25);

}
.react-datepicker__day:hover{
  border-radius: 50%;
  background: var(--gradient-50);
}
.react-datepicker__day--in-selecting-range:not(
  .react-datepicker__day--in-range,
  .react-datepicker__month-text--in-range,
  .react-quarter-text--in-range,
  .react-year-text--in-range
){
  background-color: transparent;
}
.react-datepicker__day--selected{
  border-radius: 0px;
  background-color: transparent;
}
.react-datepicker__day--keyboard-selected, 
.react-datepicker__month-text--keyboard-selected, 
.react-datepicker__quarter-text--keyboard-selected, 
.react-datepicker__year-text--keyboard-selected{
  border-radius: 50%;
  background: var(--gradient-50);
}

.react-datepicker__day--today, 
.react-datepicker__month-text--today, 
.react-datepicker__quarter-text--today, 
.react-datepicker__year-text--today{
  background: var(--green);
  border-radius: 50%;
  color: white;
  font-weight: 700;
}

.react-datepicker__day--in-selecting-range:not(
  .react-datepicker__day--in-range,
  .react-datepicker__day--selected, 
  .react-datepicker__day--selecting-range-start),
.react-datepicker__day--in-range{
  background-color: transparent;
  border-radius: 0;
  background: var(--gradient-25);
  color: var(--grey-75);
}
.react-datepicker__day--selected:not(
  .react-datepicker__day--in-range,
  .react-datepicker__day--selecting-range-start
){
  border-radius: 50%;
  background: var(--gradient);
  color: white;
}
.react-datepicker__day--selecting-range-start,
.react-datepicker__day--range-start{
  color: white;
  font-weight: 700;
  background: url('./assets/startInRange.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}
.react-datepicker__day--range-end{
  color: white;
  font-weight: 700;
  background: url('./assets/endInRange.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}
.react-datepicker__day--in-range:hover,
.react-datepicker__day--in-selecting-range:hover,
.react-datepicker__day--keyboard-selected.react-datepicker__day--in-range{
  border-radius: 0px;
  background: url('./assets/hoverInRange.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 101% 101%;
}
.react-datepicker__day--in-range:hover.react-datepicker__day--range-start,
.react-datepicker__day--keyboard-selected.react-datepicker__day--range-start{
  background: url('./assets/hoverInStartRange.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 101% 101%;
}
.react-datepicker__day--keyboard-selected.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range:hover.react-datepicker__day--range-end{
  border-radius: 0px;
  background: url('./assets/hoverInEndRange.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 101% 101%;
}
.react-datepicker__day--keyboard-selected.react-datepicker__day--range-end{
  color: white;
  font-weight: 700;
  background: url('./assets/endInRange.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

/* Slider Style */
.rc-slider {
  position: relative;
  height: 14px;
  padding: 20px 0;
  width: 100%;
  border-radius: 6px;
  touch-action: none;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.rc-slider-rail {
  position: absolute;
  width: 100%;
  background-color: white;
  height: 6px;
  border: 1px solid var(--grey-25);
  border-radius: 3px;
}
.rc-slider-track {
  position: absolute;
  left: 0;
  height: 6px;
  border-radius: 0;
  background: var(--green);
}
.rc-slider-handle {
  position: absolute;
  width: 16px;
  height: 16px;
  margin-top: -5px;
  cursor: grab;
  border-radius: 50%;
  border: 2px solid white;
  background: var(--green);
  touch-action: pan-x;
}
.rc-slider-handle-dragging.rc-slider-handle-dragging.rc-slider-handle-dragging{
  border-color: white;
  box-shadow: unset;
}
.rc-slider-handle-click-focused{
  border-color: white;
  box-shadow: unset;
}
.rc-slider-handle-click-focused:focus{
  border-color: white;
  box-shadow: unset;
}
.rc-slider-handle:hover{
  border-color: white;
  box-shadow: unset;
}



