.sliderContainer{
    width: 100%;
}
.sliderContainer .sliderHeader{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}
.sliderContainer .sliderHeader > label{
    padding-bottom: 2px;
}
